{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block css %}
        {{block.super}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/article_add.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/article_add.css' %}">
        {% endblock %}
        <title>Hello, world!</title>
    </head>
{% block body %}
  {{block.super}}
    <br>
    <div class="form">
        {% load crispy_forms_tags %}
        <form method="post" action="" enctype=multipart/form-data>
            <div class="form-content">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
</html>