<div class="container" style="background-color:white">
    

Dalam sebulan terakhir, seberapa sering Anda merasa kesal karena sesuatu yang terjadi secara tidak terduga? <br>
<br>
<input type="radio" class="btn-check" id="1" name="1" autocomplete="off" value="1"> <label class="btn btn-outline-primary" for="1">tidak pernah</label>
<input type="radio" class="btn-check" id="2" name="1" autocomplete="off" value="2"> <label class="btn btn-outline-primary" for="2">jarang</label>
<input type="radio" class="btn-check" id="3" name="1" autocomplete="off" value="3"> <label class="btn btn-outline-primary" for="3">kadang-kadang</label>
<input type="radio" class="btn-check" id="4" name="1" autocomplete="off" value="4"> <label class="btn btn-outline-primary" for="4">cukup sering</label>
<input type="radio" class="btn-check" id="5" name="1" autocomplete="off" value="5"> <label class="btn btn-outline-primary" for="5">sangat sering</label>
<br>
<br>
<br>
<br>
Dalam sebulan terakhir, seberapa sering Anda merasa bahwa Anda tidak dapat mengendalikan hal-hal yang penting dalam hidup Anda? <br>
<br>
<input type="radio" class="btn-check" id="12" name="2" autocomplete="off" value="1"> <label class="btn btn-outline-primary" for="12">tidak pernah</label>
<input type="radio" class="btn-check" id="22" name="2" autocomplete="off" value="2"> <label class="btn btn-outline-primary" for="22">jarang</label>
<input type="radio" class="btn-check" id="32" name="2" autocomplete="off" value="3"> <label class="btn btn-outline-primary" for="32">kadang-kadang</label>
<input type="radio" class="btn-check" id="42" name="2" autocomplete="off" value="4"> <label class="btn btn-outline-primary" for="42">cukup sering</label>
<input type="radio" class="btn-check" id="52" name="2" autocomplete="off" value="5"> <label class="btn btn-outline-primary" for="52">sangat sering</label>
<br>
<br>
<br>
<br>
Dalam sebulan terakhir, seberapa sering Anda merasa gelisah dan stres? <br>
<br>
<input type="radio" class="btn-check" id="13" name="3" autocomplete="off" value="1"> <label class="btn btn-outline-primary" for="13">tidak pernah</label>
<input type="radio" class="btn-check" id="23" name="3" autocomplete="off" value="2"> <label class="btn btn-outline-primary" for="23">jarang</label>
<input type="radio" class="btn-check" id="33" name="3" autocomplete="off" value="3"> <label class="btn btn-outline-primary" for="33">kadang-kadang</label>
<input type="radio" class="btn-check" id="43" name="3" autocomplete="off" value="4"> <label class="btn btn-outline-primary" for="43">cukup sering</label>
<input type="radio" class="btn-check" id="53" name="3" autocomplete="off" value="5"> <label class="btn btn-outline-primary" for="53">sangat sering</label>
<br>
<br>
<br>
<br>
Dalam sebulan terakhir, seberapa sering Anda merasa yakin terhadap kemampuan Anda dalam menangani masalah pribadi? <br>
<br>
<input type="radio" class="btn-check" id="14" name="4" autocomplete="off" value="5"> <label class="btn btn-outline-primary" for="14">tidak pernah</label>
<input type="radio" class="btn-check" id="24" name="4" autocomplete="off" value="4"> <label class="btn btn-outline-primary" for="24">jarang</label>
<input type="radio" class="btn-check" id="34" name="4" autocomplete="off" value="3"> <label class="btn btn-outline-primary" for="34">kadang-kadang</label>
<input type="radio" class="btn-check" id="44" name="4" autocomplete="off" value="2"> <label class="btn btn-outline-primary" for="44">cukup sering</label>
<input type="radio" class="btn-check" id="54" name="4" autocomplete="off" value="1"> <label class="btn btn-outline-primary" for="54">sangat sering</label>
<br>
<br>
<br>
<br>
Dalam sebulan terakhir, seberapa sering Anda merasa bahwa segala sesuatu berjalan sesuai keinginan Anda? <br>
<br>
<input type="radio" class="btn-check" id="15" name="5" autocomplete="off" value="5"> <label class="btn btn-outline-primary" for="15">tidak pernah</label>
<input type="radio" class="btn-check" id="25" name="5" autocomplete="off" value="4"> <label class="btn btn-outline-primary" for="25">jarang</label>
<input type="radio" class="btn-check" id="35" name="5" autocomplete="off" value="3"> <label class="btn btn-outline-primary" for="35">kadang-kadang</label>
<input type="radio" class="btn-check" id="45" name="5" autocomplete="off" value="2"> <label class="btn btn-outline-primary" for="45">cukup sering</label>
<input type="radio" class="btn-check" id="55" name="5" autocomplete="off" value="1"> <label class="btn btn-outline-primary" for="55">sangat sering</label>
<br>
<br>
<br>
<br>
Dalam sebulan terakhir, seberapa sering Anda menemukan bahwa Anda tidak dapat mengatasi segala hal yang harus dilakukan? <br>
<br>
<input type="radio" class="btn-check" id="16" name="6" autocomplete="off" value="1"> <label class="btn btn-outline-primary" for="16">tidak pernah</label>
<input type="radio" class="btn-check" id="26" name="6" autocomplete="off" value="2"> <label class="btn btn-outline-primary" for="26">jarang</label>
<input type="radio" class="btn-check" id="36" name="6" autocomplete="off" value="3"> <label class="btn btn-outline-primary" for="36">kadang-kadang</label>
<input type="radio" class="btn-check" id="46" name="6" autocomplete="off" value="4"> <label class="btn btn-outline-primary" for="46">cukup sering</label>
<input type="radio" class="btn-check" id="56" name="6" autocomplete="off" value="5"> <label class="btn btn-outline-primary" for="56">sangat sering</label>
<br>
<br>
<br>
<br>
Dalam sebulan terakhir, seberapa sering Anda mampu mengendalikan hal-hal yang mengganggu dalam hidup Anda? <br>
<br>
<input type="radio" class="btn-check" id="17" name="7" autocomplete="off" value="5"> <label class="btn btn-outline-primary" for="17">tidak pernah</label>
<input type="radio" class="btn-check" id="27" name="7" autocomplete="off" value="4"> <label class="btn btn-outline-primary" for="27">jarang</label>
<input type="radio" class="btn-check" id="37" name="7" autocomplete="off" value="3"> <label class="btn btn-outline-primary" for="37">kadang-kadang</label>
<input type="radio" class="btn-check" id="47" name="7" autocomplete="off" value="2"> <label class="btn btn-outline-primary" for="47">cukup sering</label>
<input type="radio" class="btn-check" id="57" name="7" autocomplete="off" value="1"> <label class="btn btn-outline-primary" for="57">sangat sering</label>
<br>
<br>
<br>
<br>
Dalam sebulan terakhir, seberapa sering Anda merasa bahwa Anda dapat mengendalikan hal-hal dalam hidup Anda? <br>
<br>
<input type="radio" class="btn-check" id="18" name="8" autocomplete="off" value="5"> <label class="btn btn-outline-primary" for="18">tidak pernah</label>
<input type="radio" class="btn-check" id="28" name="8" autocomplete="off" value="4"> <label class="btn btn-outline-primary" for="28">jarang</label>
<input type="radio" class="btn-check" id="38" name="8" autocomplete="off" value="3"> <label class="btn btn-outline-primary" for="38">kadang-kadang</label>
<input type="radio" class="btn-check" id="48" name="8" autocomplete="off" value="2"> <label class="btn btn-outline-primary" for="48">cukup sering</label>
<input type="radio" class="btn-check" id="58" name="8" autocomplete="off" value="1"> <label class="btn btn-outline-primary" for="58">sangat sering</label>
<br>
<br>
<br>
<br>
Dalam sebulan terakhir, seberapa sering Anda merasa marah karena hal-hal yang terjadi di luar kendali Anda? <br>
<br>
<input type="radio" class="btn-check" id="19" name="9" autocomplete="off" value="1"> <label class="btn btn-outline-primary" for="19">tidak pernah</label>
<input type="radio" class="btn-check" id="29" name="9" autocomplete="off" value="2"> <label class="btn btn-outline-primary" for="29">jarang</label>
<input type="radio" class="btn-check" id="39" name="9" autocomplete="off" value="3"> <label class="btn btn-outline-primary" for="39">kadang-kadang</label>
<input type="radio" class="btn-check" id="49" name="9" autocomplete="off" value="4"> <label class="btn btn-outline-primary" for="49">cukup sering</label>
<input type="radio" class="btn-check" id="59" name="9" autocomplete="off" value="5"> <label class="btn btn-outline-primary" for="59">sangat sering</label>
<br>
<br>
<br>
<br>
Dalam sebulan terakhir, seberapa sering Anda merasa ada banyak kesulitan yang menumpuk sehingga Anda sulit mengatasinya? <br>
<br>
<input type="radio" class="btn-check" id="10" name="10" autocomplete="off" value="1"> <label class="btn btn-outline-primary" for="10">tidak pernah</label>
<input type="radio" class="btn-check" id="20" name="10" autocomplete="off" value="2"> <label class="btn btn-outline-primary" for="20">jarang</label>
<input type="radio" class="btn-check" id="30" name="10" autocomplete="off" value="3"> <label class="btn btn-outline-primary" for="30">kadang-kadang</label>
<input type="radio" class="btn-check" id="40" name="10" autocomplete="off" value="4"> <label class="btn btn-outline-primary" for="40">cukup sering</label>
<input type="radio" class="btn-check" id="50" name="10" autocomplete="off" value="5"> <label class="btn btn-outline-primary" for="50">sangat sering</label>
<br>
<br>
<br>
<br>



<button type="button" onclick="displayRadioValue()">
    Selesai
</button>
<br>
<br>
<br>

<div id="result"></div>

</div>
<script>
    function displayRadioValue() {
        document.getElementById("result").innerHTML = "";
        var ele = document.getElementsByTagName('input');
        var tst=0;
        var score = 0;
        for(i = 0; i < ele.length; i++){
            if(ele[i].checked)
            tst+=Number(1);
        }
        if(Number(tst)<10){
            alert("tolong jawab semua pertanyaan")
            return
        }
        for(i = 0; i < ele.length; i++) {
              
            if(ele[i].type="radio") {
              
                if(ele[i].checked)
                    //document.getElementById("result").innerHTML
                      //      += ele[i].name + " Value: "
                        //    + ele[i].value + "<br>";
                    score+=Number(ele[i].value);
            }
        }
        console.log(score)
        if(score<=20){
            $("#box").load("{% url 'hasil' %} #ringan");
            
        }
        else if(score<40){
            $("#box").load("{% url 'hasil' %} #sedang");
            
        }
        else{
            $("#box").load("{% url 'hasil' %} #berat");
            
        }
        $("#form").load("{% url 'hasil' %} #form1")
        return
    }
</script>