{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
.notBootstrapCard {
 
  
  width: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  
 }



.container {
    font-size: x-large;
  padding: 2px 16px;
  
  
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){
  $('#btt1').click(function(){
    $.ajax({url: "{% url 'quiz' %}", success: function(result){
      $("#box").html(result);
    }});
  });
});
</script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href=".."><b>RuangSinggah<span id="titik" style="color: yellow;">.</span></b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="#"><b>Konsultasi</b></a>
        <a class="nav-link" href="#"><b>Quiz</b><span class="sr-only">(current)</span></a>
        <a class="nav-link" href="#"><b>Diskusi</b></a>
        <a class="nav-link" href="#"><b>Donasi</b></a>
      </div>
    </div>
</nav>

      <h4><b style="visibility: hidden;">
        _
        _
        _
        _
        _
        _
        _
        _
        _
        _
        _
        _
    </b></h4> 
<center id="box">
<div class="notBootstrapCard">
  <img src=https://www.pinclipart.com/picdir/big/244-2445104_bar-chart-graph-of-a-function-diagram-clip.png  style="width:100%">
  <div class="container">
  </div>
  <div class="container"> 
    <h4><b style="visibility: hidden;">
        _
        _
        _
        _
        _
        _
        _
        _
        _
        _
        _
        _

    </b></h4>
    <center><b style="color:rgb(105, 199, 12)">Test Kesehatan mental anda bersama RuangSinggah</b></center>
    <h4><b style="visibility: hidden;">
    </b></h4> 
    <button type="button" class="btn btn-success" id="btt1" value="yes">Mulai</button>
  </div>
</div>

</center>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html> 