{% extends 'base.html' %}
{% block body %}
 {{block.super}}
 <style>
.card01 {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        text-align: left;
        display: flex;
        justify-content: center;
    }
.container {
    padding: 2px 12px;
    
    }
 </style>
 
 <b style="font-size: larger;"> tanggapan dari pengguna </b>
 <br>
 <br>
 {% for saran in suggestion %}
 <div class="card01">
    <div class="container">
        <p>{{saran.Saran}}</p>
    </div>
</div>
<br>
 {% endfor %}
 
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}