<div class="container" id='sedang' style="width: 30%;">
    <b>Tingkat Stress-mu Sedang</b>
    <p style="font-size: medium;">Hasil tes kamu menunjukkan persepsi tingkat stres yang sedang. 
        Saat ini kamu cenderung merasa tidak nyaman dengan kehidupanmu. 
        Mungkin kamu merasa ada hal-hal tidak terduga yang terjadi dalam hidupmu. 
        Kamu juga mungkin mengalami kesulitan untuk mengatasi masalah-masalah yang sedang dihadapi.
    </p>
    <br>
    <p style="font-size: medium;">kamu sebaiknya melakukan kegiatan ringan seperti berolahraga bersama teman atau keluarga. 
        jika kamu mempunyai hobi maka sangat dianjurkan sebagai kegiatan mengisi waktu luang. 
    </p>

    <br>
    <br>
    <br>
    <br>

    
</div>

<div class="container" id='ringan' style="width: 30%;">
    <b>Tingkat Stress-mu Ringan</b>
    <p style="font-size: medium;">
        Hasil tes kamu menunjukkan persepsi tingkat stres yang rendah. 
        Saat ini kamu cenderung merasa nyaman dengan kehidupanmu. 
        Kamu mungkin merasa masih dapat mengatasi masalah-masalah yang kamu alami dan memiliki kendali atas hidupmu.
    </p>
    <br>

    <p style="font-size: medium;"> kamu disarankan melakukan kegiatan yang menyenangkan bagimu di waktu luang.
        mempertahankan tingkat stress yang wajar itu sangat penting agar kamu dapat berpikir dengan jelas jika dihadapkan dengan
        masalah. 
    </p>
    <br>
    <br>
    <br>
    
</div>

<div class="container" id='berat' style="width: 30%;">
    <b>Tingkat Stress-mu Berat</b>
    <p style="font-size: medium;">Hasil tes kamu menunjukkan kamu memiliki persepsi tingkat stres yang tinggi. 
        Saat ini kamu cenderung merasa memiliki banyak beban dalam hidupmu. 
        Mungkin kamu merasa tidak berdaya untuk menyelesaikan berbagai permasalahan yang kamu alami. 
        Banyak hal tidak terduga yang terjadi dan kamu mulai merasa kehilangan kontrol atas hidupmu.
    </p>
    <br>
    <p style="font-size: medium;">kamu sebaiknya bicarakan masalah yang sedang kamu hadapi dengan orang terdekat,
        mungkin mereka bisa membantu meringankan beban dan menyelesaikan masalahmu. jika kamu masih sering gelisah maka
        disarankan juga untuk berkonsultasi dengan para ahli di RuangSinggah. 
    </p>
    
    <br>
    <br>
    <br>
    

</div>
<div class="container" id='form1' style="width: 30%;">
    <button type=“button”><a href="{% url 'form' %}">Tinggalkan saran agar quiz ini lebih baik lagi</a></button>
    <br>
    <br>
    <br>
</div>

