<div class="container" id='sedang' style="width: 30%;">
    <b>Tingkat Stress-mu Sedang</b>
    <p style="font-size: medium;">Hasil tes kamu menunjukkan persepsi tingkat stres yang sedang. 
        Saat ini kamu cenderung merasa tidak nyaman dengan kehidupanmu. 
        Mungkin kamu merasa ada hal-hal tidak terduga yang terjadi dalam hidupmu. 
        Kamu juga mungkin mengalami kesulitan untuk mengatasi masalah-masalah yang sedang dihadapi.
    </p>
    <br>
    <p style="font-size: medium;">kamu sebaiknya melakukan kegiatan ringan seperti berolahraga bersama teman atau keluarga. 
        jika kamu mempunyai hobi lain maka sangat dianjurkan sebagai kegiatan mengisi waktu luang. 
    </p>

    <br>
    <br>
    <br>
    <br>
    
</div>

<div class="container" id='ringan' style="width: 30%;">
    <b>Tingkat Stress-mu Ringan</b>
    <p style="font-size: medium;">
        Hasil tes kamu menunjukkan persepsi tingkat stres yang rendah. 
        Saat ini kamu cenderung merasa nyaman dengan kehidupanmu. 
        Kamu mungkin merasa masih dapat mengatasi masalah-masalah yang kamu alami dan memiliki kendali atas hidupmu.
    </p>
    <br>
    <br>
    <br>
    <br>
</div>

<div class="container" id='berat' style="width: 30%;">
    <b>Tingkat Stress-mu Berat</b>
    <p style="font-size: medium;">Hasil tes kamu menunjukkan kamu memiliki persepsi tingkat stres yang tinggi. 
        Saat ini kamu cenderung merasa memiliki banyak beban dalam hidupmu. 
        Mungkin kamu merasa tidak berdaya untuk menyelesaikan berbagai permasalahan yang kamu alami. 
        Banyak hal tidak terduga yang terjadi dan kamu mulai merasa kehilangan kontrol atas hidupmu.
    </p>
    
    <br>
    <br>
    <br>
    <br>
</div>

