{% extends 'base.html' %}
{% load static %}
{% block body %}
    {{block.super}}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card m-5 ">
                <div class="card-header text-center">Profil</div>
                <div class="card-body">
                    <p class="card-text">Nama:{{request.user.name}}</p>
                    <p class="card-text">Email: {{request.user.email}}</p>
                    {% if request.user.is_counselor %}
                        <p class="card-text">Domisili: {{request.user.biopsikolog.domisili}}</p>
                        <p class="card-text">Bio: <br> {{request.user.biopsikolog.bio}}</p>
        
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

    
{% endblock %}
