{% extends 'base.html' %}
{% load static %}
{% block css %}
    {{block.super}}
{% endblock %}
{% block body %}
    {{block.super}}
    
    <div class="form-group col-6 offset-3 ">
        <h1 class = "text-center">Registrasi <br> Mahasiswa</h1>
        <br>
        <form action="" method="post">

                {% csrf_token %}
                {% for field in form %}
                    <p class="text-capitalize text-center h5">{{field.name}}</p>
                    {{field}}

                    <small class="form-text">
                        {{field.help_text}}
                    </small>

                    <br>  
                {% endfor %}
            
                {% for field in registration_form %}
                    {% for error in field.errors %}
                    <p style="color: red">{{error}}</p>
                    <p>{{field.name }}</p>
                    {% endfor %}
                {% endfor %}
                <br>
                <input type="submit" value="Sign Up" class="btn btn-lg btn-primary col-4 offset-4">
            
        </form>
    </div>
    <br>
{% endblock %}