<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello we're from D-04!</h1>
    <ul>
        <li>Takayuki Muhamad Rabbani - 2006486115</li>
        <li>Aiko Sulaiman - 2006522190</li>    
        <li>Bisma Nurrauf - 2006525596</li>    
        <li>Devina Fitri Handayani - 2006531781</li>    
        <li>Muhammad Taufiqul Mawarid Nazaruddin Lopa - 2006484255</li>    
        <li>Qalbun Salim Buanaputra - 2006533742</li>    
        <li>Teuku Shafwan Alim - 2006526926</li>    
            
    </ul>
</body>
</html>