{% extends 'base.html' %}
{% load static %}
    {% block css %}
    {{block.super}}
    <link rel="stylesheet" href="{% static '../static/konfirmasi_konsultasi.css' %}">
    <!-- Inter font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    {% endblock %}
    {% block body %}
        {{block.super}}
        <div class="container">
            <div class="heading">
                <h1>Konfirmasi Konsultasi</h1>
            </div>
            <div class="row">
                {% for konsul in konsuls %}
                <div class="card">
                    <div class="card-body">
                        <p>Nama     : {{ konsul.full_name }}</p>
                        <p>NPM      : {{ konsul.npm }}</p>
                        <p>Waktu    : {{ konsul.date }}</p>
                        <p>Email    : {{ konsul.email }}</p>
                        <div class="btn">
                            <a href="{% url 'konfirmasi:accept' %}" class="btn1">Accept</a>
                            {% if request.user.is_counselor %}
                            <li class="nav-item">
                            <a href="{% url 'konfirmasi:index' %}" class="nav-link {% if nbar == 'Konfirmasi' %} active {% endif %}">Konfirmasi</a>
                            </li>
                            {% endif %}
                            <a href="{% url 'konfirmasi:reject' %}" class="btn2">Reject</a>
                        <div class="btn d-flex justify-content-center">
                            <a href="{% url 'konfirmasi:accept' %}" class="btn1 text-center">Accept</a>
                            <a href="{% url 'konfirmasi:reject' %}" class="btn2 text-center">Reject</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>       
    {% endblock %}