{% extends 'consultation_form_base.html' %}
{% load static %}
{% block title %}Formulir Konsultasi{% endblock %}
{% block more-import %}
<!-- JQuery Import -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'js/consultation_form.js' %}"></script>
{% endblock %}
{% block body %}
{{block.super}}
<!-- get counselor link -->
<script type="text/javascript">
  var get_counselor_url = "{% url 'consultation_form:get_counselor' 12345 %}".replace(/12345/, '');
  var get_counselor_image = "{% static 'images/user-profile-svgrepo-com.svg' %}";
  var get_sad_image = "{% static 'images/sad-svgrepo-com.svg' %}";
  var formSubmitURL = "{% url 'consultation_form:submit_form' 12345 %}".replace(/12345/, '');
</script>

<div class="container mt-3">
  <h1 class="text-center">Buat jadwal konsultasimu dengan</h1>
  <h1 class="text-center mb-5">RuangSinggah<span class="tk-color-yellow">.</span></h1>
  <div class="row gx-5">
    <div class="col col-xl-4 me-xl-5">
      <form method="POST" action="" id="consultation_form">
        {% csrf_token %}
        <h5>Nama Lengkap</h5>
        {{ consultation_form.full_name }}
        <h5>NPM</h5>
        {{ consultation_form.npm }}
        <h5>Waktu Konsultasi</h5>
        {{ consultation_form.date }}
        <h5>Email</h5>
        {{ consultation_form.email }}
      </form>
    </div>

    <!-- Force next columns to break to new line at xl breakpoint and down -->
  <div class="w-100 d-block d-xl-none"></div>

    <div class="col ms-xl-5">
      <h5>Cari Jadwal Psikolog</h5>
      <svg class="me-2" width="35px" height="36px">
        <use href="{% static 'images/map-svgrepo-com.svg' %}#Capa_1"></use>
      </svg>
      <select id="city-select">
        {% for city in city_list %}
        <option value="{{ city }}">{{ city }}</option>
        {% endfor %}
      </select>
      <div id="counselor-list" class="card-columns mt-3">
        {% for psikolog in psikolog_list %}
          {{psikolog.user.biopsikolog.bio}}
          <div class="card">
            <div class="row">
              <div class="col-2 m-2">
                <img src="{% static 'images/profpic.png' %}" alt="Profile picture" class="card-img-left">
              </div>
              <div class="col m-2">
                <div class="card-body">
                  <h5 class="card-title"> {{psikolog.user}} </h5>
                  <p class="card-text">{{psikolog.bio}} </p>
                </div>
              </div>
            </div>
          </div>
          <br>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- Success Modal -->
<div class="modal fade" id="success-modal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Buat jadwal berhasil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <svg height="200px" width="450px">
          <use height="200px" width="480px" href="{% static 'images/checkmark-done-svgrepo-com.svg' %}#checkmark-done"></use>
        </svg>
        <p id="success-message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>

<!-- Failed Modal -->
<div class="modal fade" id="failed-modal" tabindex="-1" aria-labelledby="failedModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="failedModalLabel">Buat jadwal gagal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <p>Membuat jadwal gagal, Mohon coba lagi.<br>Jika beberapa saat kemudian masih gagal, mohon hubungi kami di kontak yang tersedia</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}